# .github/workflows/publish-migrations.yml
name: Publish DB migrations to deployment repo

on:
  push:
    branches: [master]
    paths:
      - "migrations/**.sql" # adjust to your service repo path
      - ".github/workflows/publish-migrations.yml" # to allow workflow updates

  # for testing workflow changes
  pull_request:
    branches: [master]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    paths:
      - ".github/workflows/publish-migrations.yml" # to allow workflow updates

jobs:
  publish-migrations:
    name: Publish Migrations
    runs-on: ubuntu-latest

    permissions:
      contents: read
      # Needed for creating PRs
      pull-requests: write

    env:
      DEPLOYMENT_REPO: surasithaof/test-deployments
      TARGET_DIR: ${{ github.event.repository.name }}/overlay/dev/bytebase # adjust to whatever Bytebase watches
      SERVICE_MIGRATIONS_DIR: migrations # path in the service repo
      GIT_AUTHOR_NAME: migration-bot
      GIT_AUTHOR_EMAIL: migration-bot@users.noreply.github.com
      COMPARE_BASE: ${{ github.event.before }}
      COMPARE_HEAD: ${{ github.sha }}

    steps:
      - name: Check out service repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: service

      - name: Set compare refs for PRs
        if: github.event_name == 'pull_request'
        run: |
          echo "COMPARE_BASE=${{ github.event.pull_request.base.sha }}" >> $GITHUB_ENV
          echo "COMPARE_HEAD=${{ github.event.pull_request.head.sha }}" >> $GITHUB_ENV

      - name: Find newly added SQL files in this push
        id: changed
        run: |
          # Switch to service repo
          cd ${GITHUB_WORKSPACE}/service

          # Find added or modified files limited to *.sql under SERVICE_MIGRATIONS_DIR

          git diff --name-status ${{ env.COMPARE_BASE }} ${{ env.COMPARE_HEAD }} \
            | awk '$1=="A" || $1=="M"{print $2}' \
            | grep -E '^'"${SERVICE_MIGRATIONS_DIR}"'/.*\.up.sql$' || true > ${GITHUB_WORKSPACE}/service/changed_files.txt

          echo "Changed files:"
          cat ${GITHUB_WORKSPACE}/service/changed_files.txt

          # Find count of changed files to decide whether to proceed

          count=$(wc -l < ${GITHUB_WORKSPACE}/service/changed_files.txt | xargs)
          echo "count=$count" >> $GITHUB_OUTPUT

      - name: Clone deployment repo
        if: steps.changed.outputs.count != '0'
        env:
          GH_TOKEN: ${{ secrets.DEPLOYMENT_REPO_TOKEN }}
        uses: actions/checkout@v4
        with:
          repository: ${{ env.DEPLOYMENT_REPO }}
          token: ${{ secrets.DEPLOYMENT_REPO_TOKEN }}
          fetch-depth: 1 # only need latest commit for faster clone
          path: deployment

      - name: Copy changed to deployment repo
        if: steps.changed.outputs.count != '0'
        env:
          GH_TOKEN: ${{ secrets.DEPLOYMENT_REPO_TOKEN }}
        run: |
          # Switch to deployment repo
          cd ${GITHUB_WORKSPACE}/deployment

          # Copy changed files

          mkdir -p "${TARGET_DIR}"
          while IFS= read -r f; do
            cp "${GITHUB_WORKSPACE}/service/$f" "$GITHUB_WORKSPACE/deployment/${TARGET_DIR}/$(basename "$f")"
            echo "Copied $f to ${TARGET_DIR}/$(basename "$f")"
          done < ${GITHUB_WORKSPACE}/service/changed_files.txt

          echo "Files now at ${TARGET_DIR}:"
          ls -la "${TARGET_DIR}"

          # Commit and push

          git add "${TARGET_DIR}/"*.sql
          git status
          # Don't need to push, PR action peter-evans/create-pull-request will handle it

      - name: Create Pull Request
        if: steps.changed.outputs.count != '0'
        id: create_pr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.DEPLOYMENT_REPO_TOKEN }}
          path: deployment
          branch: migrations/${{ github.repository_owner }}-${{ github.event.repository.name }}-${{ github.run_id }}
          title: "chore(db): publish migrations"
          body: |
            This PR publishes new DB migrations

            - **Service**: [${{ github.repository }}](https://github.com/${{ github.repository }}).
            - **Commit**: [${{ github.sha }}](https://github.com/${{ github.repository }}/commit/${{ github.sha }}).

            Merging this PR will trigger Bytebase to create a reviewable Change.
          base: master
          labels: db-migration
          author: ${{ env.GIT_AUTHOR_NAME }} <${{ env.GIT_AUTHOR_EMAIL }}>
          committer: ${{ env.GIT_AUTHOR_NAME }} <${{ env.GIT_AUTHOR_EMAIL }}>
          assignees: ${{ github.actor }}
          delete-branch: true

      - name: PR Summary
        if: steps.changed.outputs.count != '0'
        run: |
          echo "Created PR: ${{ steps.create_pr.outputs.pull-request-url }}" >> $GITHUB_STEP_SUMMARY
